/* font 지정 */
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'HSSanTokki20-Regular';
}

/* avatar 크기 지정 */
.avatar {
    border-radius: 50%;
    border-color: gray;
    background-color: #d8d8d8;
}

.avatar-sm {
    width: 20px;
    height: 20px;
}

.avatar-md {
    width: 40px;
    height: 40px;
}

.avatar-lg {
    width: 80px;
    height: 80px;
}

/* 20240903 추가 */
/* 페이지 네이션*/
.pagination-container {
    display: flex;
    /* column-gap: 10px; */
}
.paginate-buttons {
    height: 40px;
    width: 40px;
    /* border-radius: 20px; */
    cursor: pointer;
    background-color: white; /*rgb(242, 242, 242);*/
    border: 1px solid white; /* rgb(217, 217, 217);*/
    color: black;
}

.paginate-buttons:hover {
    border-radius: 20px;
    background-color: #d8d8d8;
}

.active-page {
    border-radius: 20px;
    background-color: #3498db;
    border: 1px solid #3498db;
    color: white;
}

.active-page:hover {
    background-color: #2988c8;
}
